[bumpversion]
current_version = 2.11.0
commit = True
tag = True

[bumpversion:file:elisctl/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = version="{new_version}"

[bumpversion:file:installer.cfg]
search = version={current_version}
replace = version={new_version}
